.jumbotron {
    display: inline-block;
    height: 20%;
    width: 95%;
    position: relative;
    left: 2.5%;
    border: 2px solid black;
    text-align: center;
    margin: 0 auto;
    background: rgb(85, 161, 233);
    box-shadow: 10px 10px 5px grey;
}

h1 {
    
    position: absolute;
    top: 10%;
    left: 40%;
    font-weight: 700;
}

h2 {
    position: relative;
    float: left;
    left: -15px;
    margin: 0 auto;
    background: rgb(85, 161, 233);
    width: 102%;
    font-weight: 600;
}


#currenttime {
    position: absolute;
    left: 44.5%;
    text-align: center;
    top: 72.5%;
    color: rgb(189, 69, 69);
    font-size: 28px;
    font-weight: 600;
    
}

span {
    margin-bottom: 10px;
}

#scheduleTable {
    width: 95%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    position: relative;
    overflow: scroll;
}

label {
    padding-top: 5px; 
    text-align: left;
    font-weight: 700;
    
}

.form-group {
    display: inline;
}

.table {
    margin: 10px;
}

#inputDiv {
    display: inline-block; 
    width: 95%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 5px grey;
    position: absolute;
    left: 3.5%;
    padding-bottom: 10px;
    
}

@media (max-width: 640px) {
    h1 {
        position: absolute;
        top: 5%;
        left: 12.5%;
    }
    
    #currenttime {
        position: absolute;
        left: 25%;
        text-align: center;
        top: 50%;  
    }

    h2 {
        width: 106.5%;
    }
}

@media (min-width: 641px) and (max-width: 980px) {
    h2 {
        width: 105%;
    }

}

